
/****************************

Content pages CSS file for HTML5 and JS testing project
Began 2015-2-8
Erik Swan

****************************/
	
/*** Content Structure ***/

	.content, .w2-3, .w1-3 {
		box-sizing:padding-box;
		padding: 20px;
	}
	.content {
		width:60%;
		margin-left:auto;
		margin-right:auto;
	}
	.w2-3 {
		width:66%;
		float:left;
	}
	.w1-3 {
		width:33%;
		float:right;
	}