/*******************************

erikmichaelswan.com
	Began 2015-2-8

Color Palette:
    Green: #588C7E
    Yellow: #F2E394
    Orange: #F2AE72
    Red: #D96459
    Crimson: #8C4646

********************************/

/****************************

Style.css
Began 2015-2-8
Erik Michael Swan

****************************/

/*** IMPORTS ***/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);

/*** KEYFRAMES ***/
	/* Button background color */
	
@keyframes soft-appear {  
  0% { background: rgba(217, 100, 89, 0); }  
  100% { background: rgba(217, 100, 89, 1);}
}

	/* Fadein, Faderight, Fadeleft */
/* Firefox < 16 */
@-moz-keyframes fadein {
	from { top: 100px; }
	to   { top: 0px; opacity: 1; }
}
@-moz-keyframes fadeleft {
	from { left: 100px; }
	to   { left: 0px; opacity: 1;}
}
@-moz-keyframes faderight {
	from { right: 100px; }
	to   { right: 0px; opacity: 1; }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { top: 100px; }
    to   { top: 0px; opacity: 1; }
}
@-webkit-keyframes fadeleft {
	from { left: 100px; }
	to   { left: 0px; opacity: 1;}
}
@-webkit-keyframes faderight {
	from { right: 100px; }
	to   { right: 0px; opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { top: 100px; }
    to   { top: 0px; opacity: 1; }
}
@-ms-keyframes fadeleft {
	from { left: 100px; }
	to   { left: 0px; opacity: 1;}
}
@-ms-keyframes faderight {
	from { right: 100px; }
	to   { right: 0px; opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { -o-translateY(100px)}
    to   { opacity: 1; -o-translateY(0px)}
}
@-o-keyframes fadeleft {
    from { -o-translateX(100px)}
    to   { opacity: 1; -o-translateX(0px)}
}
@-o-keyframes faderight {
    from { -o-translateX(-100px)}
    to   { opacity: 1; -o-translateX(0px)}
}


@keyframes fadein {
    from { opacity: 0; top: 100px; }
    to   { opacity: 1; top: 0px; }
}
@keyframes fadeleft {
    from { left: 100px; }
    to   { opacity: 1; left: 0px; }
}
@keyframes faderight {
    from { right: 100px; }
    to   { opacity: 1; right: 0px; }
}


/**** RESET ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,Fab

article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	
	
/*** Clearfix ***/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/**** GENERIC ELEMENTS ***/

html, body {
	font-family: Roboto, arial, sans-serif;
	font-weight:200;
	width:100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:1em;
}

h1, h2, h3, h4, h5, h6, p {
	color:#fff;
}

h1 {
	font-size:2.5em;
}

h2 {
	font-size:2.3em;
	margin-top:2em;
}

h3 {
	font-size:2.1em;
}

h4 {
	font-size:1.9em;
	text-align:center;
	margin-top:50px;
	margin-bottom:30px;
}

h5 {
	font-size: 1.7em;
}

h6 {
	font-size: 1.5em;
}

p {
	font-size:1em;
	line-height:1.3em;
	color: #fff;
}

a {
	text-decoration: none;
	color:#fff;
}

em {
	font-style:italic;
}

strong {
	font-weight:700;
}

footer {
	background-color:#588C7E;
	text-align:center;
}
	

/*** Main Nav ***/

.main-nav {
	background: #8C4646;
	padding: 20px 0 0 0;
	border-bottom:5px solid #F2AE72;	
    transition:.3s ease-in-out; 
    position:absolute;
    display:block;
    width:100%;
}

.big-title {
	float:left;
	padding-bottom:10px;
	margin-left:20%;
	   
}

.big-title h1 {
	margin-left:-3.4px
}

.buttons {
    float:right;
    margin-top:40px;
    margin-right:20%;
    transition:.3s ease-in-out; 
}

li.menu-button {
	display:inline-block;
}

li.menu-button a {
	line-height:2em;
	padding: 8px 20px;
}

li.menu-button:hover, .scroll-title:hover {
	-webkit-animation: soft-appear .15s, ease-in;
    -moz-animation: soft-appear .15s, ease-in;
    -o-animation: soft-appear .15s, ease-in;
	-ms-animation: soft-appear .15s, ease-in;
    animation: soft-appear .15s, ease-in;
	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
	animation-fill-mode:forwards;
}

	
/*** Scroll Nav ***/

.scroll-nav {
    position:fixed;
    width:100%;
    padding: 0 !important;
    z-index:1;
}
.scroll-nav .buttons {
    margin:0 inherit 0 0 !important;
    margin-top:0 !important;
}

.scroll-title-container {
    float:left;
    margin-left:19%;

}

.scroll-title {
    display:block;
    padding: 8px 20px;
   
}


/*** WEDGE CONTAINER ***/

.wedge {
    padding: 20px;
    height:auto;
    -moz-box-sizing:padding-box;
    box-sizing:padding-box;
}

.teal-bg {
	background-color: #588C7E;
}

.red-bg {
	background-color:#8C4646;
}

/*** WEDGES ***/

.separator {
	margin: 3em auto 2em auto;
	display:block;
	width:100px;
}

.section-title {
	margin-top:.5em;	
}

.painting-bg {
	background: url(images/painting-background.jpg) no-repeat 50% 70%;	
	height:100vh;
}

.group-bg {
	background: url(images/group.jpg) no-repeat 0% 35%;
}

.forest-bg {
	background: url(images/forest-wide.jpg) no-repeat center center;
}

.painting-bg, .group-bg, .forest-bg {
	background-size:cover;
	background-attachment:fixed;
}

.group-bg, .forest-bg {
	height:900px;
}

.content {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.link {
	text-decoration:underline;
}


/*** QUOTE ***/

.quote-top, .quote-mid, .quote-bottom, .section-title {
    text-align:center;
}

.quote-top {
    font-size:3.5em;
    line-height:30vh;
    padding-top:100px;
}

.quote-mid {
    font-size:2.5em;
    line-height:6vh;
}

.quote-bottom {
    font-size:5em;
    line-height:30vh;
}

.quote-attribution {
    text-align:right;
    font-style:italic;
    font-size:2.5em;
    line-height:15vh;
    margin-right:30%;
    margin-top:-50px;
    
}


/*** INTRO ***/

.intro-wrap {
	opacity:0;
	position:relative;
	margin-top: 100px;
	margin-bottom: 100px;
}

.fadein {
	-webkit-animation: fadein .7s, upwards .5s;
    -moz-animation: fadein .7s, upwards .5s;
    -o-animation: fadein .7s, upwards .5s;
	-ms-animation: fadein .7s, upwards .5s;
    animation: fadein .7s, upwards .5s;
	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
	animation-fill-mode: forwards;
}

.big {
	font-size:2.5em;
	color: #e8e8e8; 
}

.intro {
	margin-top:1em;
	font-size: 1em;
}

.portrait {
	position:absolute;
	float:left;
	right:103%;
	border-radius:50%;
	width:200px;
}

	
/*** EDUCATION ***/

.fadeleft {
	-webkit-animation: fadeleft .7s, upwards .5s;
    -moz-animation: fadeleft .7s, upwards .5s;
    -o-animation: fadeleft .7s, upwards .5s;
	-ms-animation: fadeleft .7s, upwards .5s;
    animation: fadeleft .7s, upwards .5s;
	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
	animation-fill-mode: forwards;
}

.faderight {
	-webkit-animation: faderight .7s, upwards .5s;
    -moz-animation: faderight .7s, upwards .5s;
    -o-animation: faderight .7s, upwards .5s;
	-ms-animation: faderight .7s, upwards .5s;
    animation: faderight .7s, upwards .5s;
	
	-webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
	animation-fill-mode: forwards;
}

.berkeley, .cambridge {
	position:relative;
	opacity:0;
}
	
.ucb-seal {
	position:absolute;
	left:104%;
	top:-20%;
	margin-top:3em;
}

.cam-seal {
	position:absolute;
	right:104%;
	width:125px;
}

.right-align {
	text-align:right;
}

.content-pad, .cambridge {
	margin-bottom:40px;
}

/*** PORTFOLIO ***/

.w1-3 {
	width:30%;
	float:left;
	border: 2px solid #F2AE72;
	background-color:#8C4646;
	border-radius:10px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin: 10px 1.66%;
	position:relative;
}

.w1-3:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(242,227,148,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(242,227,148,1);
	box-shadow: 0px 0px 8px 0px rgba(242,227,148,1);
}

.card-center {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.plat-icon, .tumblr-icon, .wp-icon {
	width:35px;
	position:absolute;
	left:43%;
}

.plat-icon {
	top:-25px;
}

.tumblr-icon {
	top:-20px;
}

.wp-icon {
	top:-20px;
}

.sub {
	margin-bottom:10px;
}
.port-title, .sub {
	text-align:center;
}

.port-title {
	margin:8px 3px;
	padding-top:10px;
	font-weight:bold;
}
.port-img {
	width:90%;
	border: 3px solid #E8E8E8;
	border-radius:10px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.list {
	list-style:circle inside;
	color:#fff;
	line-height:1.1em;
	margin:0 8px 8px 8px;
}

.list li {
	margin-top:5px;
}

.disabled {
	background: #595959;
	border: 3px solid #c4c4c4;
	color:#c4c4c4;
	padding-bottom:6px;
}

/*** FOOTER ***/

.big-footer {
	font-size:5em;
}

.gmail {
	width:35px;
	margin-right:10px;
}

.valign {
	vertical-align: top;
}

.icon {
	width:35px;
	margin:0 5px;
}

.icon:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(242,174,114,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(242,174,114,1);
	box-shadow: 0px 0px 8px 0px rgba(242,174,114,1);
	border-radius:50%;
}

.copyright {
	font-size:.7em;
	padding-bottom:30px;
}


/* 
 * 
 * MOBILE-FRIENDLY MEDIA QUERIES
 * 
 */


@media screen and (max-width: 1035px) {
	
	/* Generic Elements */
	h1 {
		font-size: 1.5em;
	}
	
	/* Nav */
	.buttons {
		margin: 1em 15% 0 0;
	}
	
	.scroll-title-container {
		margin-left:15%;
	}
	
	/* Wedges & Backgrounds */
	.content {
		width:80%;
	}
	.group-bg, .forest-bg {
		height:100vh;
		background-position: 55% 35%;
	}
	
	/* Quote */
	.quote-top {
		font-size:2em;
	}
	
	.quote-mid {
		font-size:1.8em;
	}
	
	.quote-bottom {
		font-size:3em;
	}
	
	.quote-attribution {
		font-size: 1.5em;
		margin-right:15%;
	}
	
	/* Intro */
	.portrait {
		left:50%;
		margin-left:-102px;
		top:-190px;
	}
	
	.intro-wrap {
		margin-top:12em;
		margin-bottom:2em;
	}
	
	/* Education */
	.ucb-seal {
		margin-top:-120px;
		margin-left:-190px;
	}
	
	.berkeley {
		margin-top:11em;
	}
	
	.cam-seal {
		margin-right:-155px;
		margin-top:-150px;	
	}
	
	.cambridge {
		margin-top:11em;
	}
}

@media screen and (max-width:770px) {
	
	/* Nav */
	.main-nav {
		text-align:center;
	}
	
	.big-title {
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
	
	.buttons {
		display:block;
		margin: 0 auto 0 auto;
		float:none;
	}
	
	.scroll-nav, .buttons {
		margin-right:auto;
	}
	
	.scroll-title-container{
		margin-left:10%;
	}
	
	/* Quote */
	.quote-top {
		font-size:1.6em;
	}
	
	.quote-mid {
		font-size:1.5em;
	}
	
	.quote-bottom {
		font-size:2.3em;
	}
	
	.quote-attribution {
		font-size: 1.2em;
		margin-right:15%;
	}
	
	/* Portfolio */
	.w1-3 {
		width:100%;
		margin-bottom:2em;
	}
}

@media screen and (max-width:560px) {
	/* Nav */
	.main-nav {
		text-align:center;
	}
	
	.big-title {
		margin-left:auto;
		margin-right:auto;
		float:none;
	}
	
	.buttons {
		display:none;
	}
	
	.scroll-title-container {
		margin: 0 auto 0 auto;
		float:none;
	}
	
	/* Education */
	.ucb-seal {
		margin-top:-110px;
	}
}

@media screen and (max-device-width:480px) {
	
	/* Wedges & Backgrounds */
	.content {
		width:90%;
	}
}
